/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* Document Reset */
*,
::after,
::before {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}
:root {
    /* Primary Colors */
    --pri-clr-dark-cyan: hsl(158, 36%, 37%);
    --pri-clr-cream: hsl(30, 38%, 92%);

    /* Neutrual Colors */
    --ntrl-clr-very-dark-blue: hsl(212, 21%, 14%);
    --ntrl-dark-grayish-blue: hsl(228, 12%, 48%);
    --ntrl-white: hsl(0, 0%, 100%);

    /* Font sizes  */
   --fs-xlg: 3rem;
   --fs-lg: 2rem;
   --fs-med: 1.5rem;
   --fs-reg: 1rem;
   --fs-sm: 0.625rem;

   /* Font weights */
   --fw-med: 500;
   --fw-bold: 700;

   /* Spacings */
   --spacing-xlg: 3rem;
   --spacing-lg: 2rem;
   --spacing-med: 1.5rem;
   --spacing-sm: 1rem;
   --spacing-xsm: 0.5rem;

   /* Border radius' */
   --border-radius-lg: 2rem;
   --border-radius-med: 1.5rem;
   --border-radius-sm: 1rem;
   --border-radius-xsm: 0.625rem;

    /* Font Families */
    --heading-font-family: "Fraunces", "system-ui";
    --primary-font-family: "Nontserrat", "system-ui"
}
html {
    font-size: 14px;
}
body {
    font-family: var(--primary-font-family);
    background-color: var(--pri-clr-cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}
.card {
    display: flex;
    background-color: var(--ntrl-white);
    max-width: 65rem;
    border-radius: var(--border-radius-xsm);
}
.card-img-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
}
.card-img {
    display: flex;
    width: 100%;
    height: auto;
    border-top-right-radius: var(--border-radius-xsm);
    border-top-left-radius: var(--border-radius-xsm);
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--spacing-xsm) var(--spacing-lg);
    flex-shrink: 2;
}
.product-category {
    color: var(--ntrl-dark-grayish-blue);
    letter-spacing: 5px;
    text-transform: uppercase;
}
.product-name {
    font-family: var(--heading-font-family);
    font-weight: var(--fw-bold);
    font-size: var(--fs-xlg);
}
.product-descrption {
    color: var(--ntrl-dark-grayish-blue);
    font-weight: var(--fw-med);
    font-size: var(--fs-med);
    
}
.product-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--heading-font-family);
}
.original-price {
    font-weight: var(--fw-bold);
    font-size: var(--fs-med);
    font-family: var(--primary-font-family);
    color: var(--ntrl-dark-grayish-blue);
    text-decoration: line-through;
}
.discount-price {
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
    padding-right: var(--spacing-med);
    color: var(--pri-clr-dark-cyan);
}
.btn {
    all: unset;
    box-sizing: border-box;
    outline: revert;
    border: none;
    cursor: pointer;
    font: inherit;
    font-size: var(--fs-med);
    font-weight: 500;
    background-color: var(--pri-clr-dark-cyan);
    border-radius: var(--border-radius-xsm);
    width: 100%;
    height: 4.5rem;
    text-align: center;
    padding: 0.313rem;
    color: var(--ntrl-white);
}
.btn img {
    vertical-align: center;
    padding-right: 0.313rem;
}
.btn:hover {
    background-color: var(--ntrl-dark-grayish-blue);
}
.author {
    font: inherit;
}
.author > a {
    color: var(--ntrl-dark-grayish-blu);
}
.author > a:hover {
    color: var(--pri-clr-dark-cyan);
}

@media (max-width: 31.25rem) {
    .product-name {
        font-size: var(--fs-lg);
    }
    .product-descrption {
        font-size: 1.225rem;
    }
    .author {
        font-size: 0.855rem;
    }
    .card {
        flex-direction: column;
        padding-bottom: var(--spacing-sm);

    }
    .btn {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 0.625rem;
    }
    .card-img-wrapper {
        flex-direction: column;
    }
    .product-name,
    .product-descrption,
    .product-price,
    .btn {
        padding: 0.625rem;
    }
}